---
import Layout from '@/layouts/base.astro'
---
<Layout
  title="404 NOT FOUND"
  description="This page's not found"
  className="h-70vh grid place-items-center font-sans bg-black"
>
  <div m-3 font-black text-center text-stone-400>
    <h1 text-7xl>404</h1>
    <h2 text-2xl>NOT FOUND</h2>
    <a href="/">Back to Home</a>
  </div>
</Layout>
