---
import Layout from '@/layouts/default.astro'
import Socials from '@/components/Socials.astro'
import { _author } from '@/data'
---

<Layout
  title="I'm Nazhard - A Anime"
  description="Nazhard Personal Website"
>
  <section c="white/70" md:pt-2vh md:pt-10vh md:text-lg>
    <img
      h-auto w-35 rounded-10 float-right
      md:w-45 md:mr-15
      outline="~ zinc-900"
      src={_author.avatar}
      alt="Nazhard profile picture"
    />
    <h1 text-4xl pt-27 font-extrabold md:text-5xl md:pt-20>
      Nazan H.
    </h1>
    <p text-xs font-bold md:text-sm>
      Self-taught Programmer & Hobbyist Developer
    </p>

    <p>
      I'm Nazan aka Nazhard, a 15 year old hobbyist developer living in Indonesia.
      I'm a person who likes to make useful software or tools for myself, and maybe you.
    </p>
    <p>
    Yeah, as you can see, I'm not that good at web design haha. I'm not really into front-end myself.
    I prefer to program using Go, my favorite programming language.
    </p>
    <p>
      I put a few programming languages under that doesn't mean I can do them all haha.
      I'm just a programming hobbyist, while programming sometimes each field has its own tools.
      For example, I don't really like Python, but it has a lot of useful libraries for things like machine learning and science.
    </p>
  </section>

  <section my-5>
    <p text-lg font-bold mb-5>Socials</p>
    <p> Below are my places on the internet </p>
    <Socials />
  </section>

  <section mb-5>
    <p text-lg font-bold mb-5>More</p>
    <ul list-disc list-inside>
      <li my-1><b>Pronouns {">"}</b> He/Him/His/They</li>
      <li my-1><b>Languages {">"}</b> Go, TS, Kotlin, Python, Zig</li>
      <li my-1><b>Web Frameworks {">"}</b> Astro, SolidStart, SvelteKit</li>
      <li my-1><b>I can speak {">"}</b> Indonesia (Native), Sundanese (Native), English (Beginner), Japanese (Nah)
    </ul>
  </section>
</Layout>
