---
import Layout from '@/layouts/default.astro'
import Socials from '@/components/socials.astro'
import { _author } from '@/data'
---

<Layout
  title="I'm Nazhard - A Anime"
  description="Nazhard Personal Website"
>
  <section md:pt-2vh md:pt-10vh>
    <img
      h-auto w-35 rounded-10 float-right
      md:w-45 md:mr-15
      outline="~ zinc-900"
      src={_author.avatar}
      alt="Nazhard profile picture"
    />
    <h1 text-4xl font-extrabold pt-27 md:text-5xl md:pt-25>
      Nazan H.
    </h1>
    <p text-sm font-bold md:text-sm>
      Self-taught Programmer & Hobbyist Developer
    </p>

    <p>
      I'm Nazan aka Nazhard, a 15 year old hobbyist developer living in Indonesia.
      I'm a person who likes to make useful software or tools for myself, and maybe you.
    </p>
    <p>
      Yeah, as you can see, I'm not that good at web design xD. I'm not really into front-end myself.
    </p>
  </section>

  <section mt-5>
    <a no-underline href="/posts/">
      <button font-bold mx-2 px-2 py-1 bg-zinc-7 rounded>
        Posts
      </button>
    </a>
    <a no-underline href="/projects/">
      <button font-bold mx-2 px-2 py-1 bg-zinc-7 rounded>
        Projects
      </button>
    </a>
  </section>

  <hr my-7 border-2 border-zinc-7>
  
  <section>
    <p text-xl font-bold mb-5>Tech Stack</p>
    <p>
      I use several different programming languages.
      For web I go with <span c="#007acc">TypeScript</span>,
      for apps I use <span c="#27aacd">Flutter</span>,
      for science and making (simple) AI programs I go with <span c="#306998">Python</span>.
    </p>
    <p>
      My main languages at the moment is <span c="#00acd7">Golang</span>, for low-level programming I go with <span c="#f7a41d">Zig</span> (modern c)
    </p>
  </section>

  <section my-5>
    <p text-xl font-bold mb-5>Socials</p>
    <p> Below are my places on the internet </p>
    <Socials />
  </section>

  <section mb-5>
    <p text-xl font-bold mb-5>More</p>
    <ul list-disc list-inside>
      <li my-1><b>Pronouns {">"}</b> He/Him/His/They</li>
      <li my-1><b>I can speak {">"}</b> Indonesia (Native), Sundanese (Native), English (Beginner), Japanese (Nah)
    </ul>
  </section>
</Layout>
