---
import A from '@/components/a.astro'

interface Nav {
  text: string
  href: string
  isLine: bool
}

const nav: Nav[] = [
  {text: 'Home',     href: '/',         isLine: true},
  {text: 'Posts',    href: '/posts',    isLine: true},
  {text: 'Projects', href: '/projects', isLine: false}
]

const repo: string = 'https://github.com/nazhard/nazhard.github.io'
---

<footer text-center text-gray-7>
  <p m-0> &copy; Fiona </p>
  <ul>
    {nav.map(({text, href, isLine}) => (
      <li inline-block mx-1>
        <A href={href} class="no-underline">
          {text}
        </A>
        {isLine ? '-' : ''}
      </li>
    ))}
  </ul>
</footer>
