---
import A from '@/components/a.astro'
import { AUTHOR } from '@config'

const nav = [
  {text: 'Home',     href: '/',         isLine: true},
  {text: 'Posts',    href: '/posts',    isLine: true},
  {text: 'Projects', href: '/projects', isLine: false}
]
---

<footer text-center text-gray-4>
  <p m-0> &copy {AUTHOR.name} </p>
  <ul>
    {nav.map(({text, href, isLine}) => (
      <li inline-block mx-1>
        <A href={href} class="no-underline">
          {text}
        </A>
        {isLine ? '-' : ''}
      </li>
    ))}
  </ul>
</footer>
