---
import { Icon } from 'astro-icon/components'

const links = [
  { href: '/', text: 'home', icon: 'home' },
  { href: '/about', text: 'about', icon: 'about' },
  { href: '/posts', text: 'blog', icon: 'paper' },
  { href: '/projects', text: 'projects', icon: 'cube' },
  { href: '/links', text: 'links', icon: 'link' },
  { href: 'https://github.com/nazhard?tab=repositories', text: 'git', icon: 'git' },
]
---

<nav
  bg="white/30" backdrop-blur-sm rounded-md
  fixed max-md:bottom-2 max-md:inset-x-7
  md:mr-5vw md:left-5 md:top-5>
  <ul
    pt-2 pb-1 whitespace-nowrap no-scrollbar
    max-md:overflow="x-scroll y-hidden"
    md:flex md:flex-col>
    {links.map(({icon, text, href}) => (
      <li w-fit inline-block rounded bg-zinc-8 p-2
          max-md:mx-1
          md:my-1 md:mx-0.5>
        <a no-underline max-md:inline-flex max-md:items-baseline href={href}>
          <Icon
            name={"ui/"+icon}
            class="self-center w-5 h-5 max-md:mx-1 md:w-7 md:h-7"
          />
          <span md:hidden>{text.toUpperCase()}</span>
        </a>
      </li>
    ))}
  </ul>
</nav>
