---
import { Icon } from 'astro-icon/components'
import { SOCIALS } from '@config'
---

{SOCIALS.slice(0, 3).map(({ name, url }) => (
  <a
    href={url}
    target="_blank"
    mx-2 inline-block
  >
    <Icon
      name={'socials/' + name.toLowerCase() + '-outline'}
      class="w-9 h-9 text-white"
    />
  </a>
))}
