---
import Head from '@/components/head.astro'
const { title, description, className } = Astro.props.frontmatter || Astro.props
---
<!doctype html>
<html lang="en-US">
  <head>
    <Head title={title} description={description}/>
  </head>
  <body class={className ? className : ''}>
    <slot/>
  </body>
</html>
