---
import Head from '@/components/head.astro'

const { title, description, footer, header } = Astro.props.frontmatter || Astro.props
---

<!doctype html>
<html lang="en-US">
  <head>
    <Head title={title} description={description}/>
  </head>
  <body class="text-16px tracking-wide bg-#0F0F0F text-#F9F9F9 md:text-lg">
    <div class="max-w-[640px] h-fit inset-0 m-auto px-5 py-10">
      <main>
        <slot />
      </main>
    </div>
  </body>
</html>

<style is:global>
h1, h2 {
  line-height: 1.375;
  font-weight: 700;
  margin: 15px 0 20px 0;
}
body {
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
}
p {
  line-height: 1.6;
  margin: 15px 0 15px 0;
}
a {
  text-decoration: underline #89b4fa 1.2px;
  text-underline-offset: 4px;
}
a:hover {
  color: #89b4fa;
}
</style>
