---
import Head from '@/components/head.astro'
import Footer from '@/components/footer.astro'

const { title, description, footer, header } = Astro.props.frontmatter || Astro.props
---

<!doctype html>
<html lang="en-US">
  <head>
    <Head title={title} description={description}/>
  </head>
  <body class="text-16px tracking-wide bg-#FFD0EC text-#2B2730 md:text-lg">
    <div class="relative max-w-[650px] h-fit inset-0 m-auto px-5 py-10 md:px-10">
      <main md:mr-5>
        <slot />
      </main>
      
      <section my-15>
        <Footer />
      </section>
    </div>
  </body>
</html>

<style is:global>
h1, h2 {
  line-height: 1.375;
  font-weight: 700;
  margin: 15px 0 20px 0;
}
body {
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
}
p {
  line-height: 1.6;
  margin: 15px 0 15px 0;
}
a {
  text-decoration: underline #89b4fa 1.2px;
  text-underline-offset: 4px;
}
a:hover {
  color: #89b4fa;
}
img, pre {
  margin: 0;
}
</style>
